<h3>Update Menu</h3>
<%= form_with model: @menu, url: menu_path do |form| %>
    <%= form.text_field :name, placeholder: @menu.name, value: @menu.name %>
    <%= form.text_field :description, placeholder: @menu.description, value: @menu.description %>
    <%= form.text_field :price, placeholder: @menu.price, value: @menu.price %>
    <%= form.select(:category_id, options_for_select(@category.map{|c| [c.name,c.id]}, selected: Menu.find(@menu.id).category.id), prompt: "Please Select") %>
    <%= form.submit %>
<% end %>