<h1> Menus </h1>
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
        <td><b>Number</b></td>
        <td><b>Name</b></td>
        <td><b>Description</b></td>
        <td><b>Price</b></td>
        <td><b>Category</b></td>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= menu.name %></td>
        <td><%= menu.description %></td>
        <td><%= menu.price %></td>
        <td><%= Menu.find(menu.id).category.name %></td>
        <td><a href="/menu/<%= menu.id %>">Details</a></td>
        <td><a href="/menu/<%= menu.id %>/edit">Edits</a></td>
        <td><%= button_to 'Delete', menu_path(menu), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/menu/new">New Menu</a>
<br>
<a href="/feature">Back to Index Menu</a>