<h1> OrderDetails Details </h1>
<p id="notice"><%= notice %></p>
<table>
  <% @order_detail.each do |order_detail| %>
    <tr>
        <td><b>Order Detail Order-ID: </b></td>
        <td><%= order_detail.order_id %></td>
    </tr>
    <tr>
        <td><b>Order Detail Menu-ID: </b></td>
        <td><%= order_detail.menu_id %></td>
    </tr>
    <tr>
        <td><b>Order Detail Quantity: </b></td>
        <td><%= order_detail.quantity %></td>
    </tr>
    <tr>
        <td><b>Order Detail Price: </b></td>
        <td><%= order_detail.price %></td>
    </tr>
    <tr>
        <td><a href="/order_detail/<%= order_detail.id %>/edit">Edits</a></td>
        <td><%= link_to 'Back', order_detail_index_path %></td>
    </tr>
  <% end %>
</table>