<div class="field">
    <%= form.label :customer %>
    <% if @order.id == nil %>
      <%= form.select(:customer_id, options_for_select(@customer.map{|c| [c.name,c.id]}), prompt: "Please Select") %>
    <% else %>
      <%= form.select(:customer_id, options_for_select(@customer.map{|c| [c.name,c.id]}, selected: Order.find(@order.id).customer.id), prompt: "Please Select") %>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, placeholder: "Total" %>
  </div>
  <div class="field">
    <%= form.label :order_date %>
    <%= form.text_field :order_date, placeholder: "Order Date" %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <% if @order.id == nil %>
      <%= form.select(:status, options_for_select(["NEW", "PAID", "CANCELED"]), prompt: "Please Select") %>
    <% else %>
      <%= form.select(:status, options_for_select(["NEW", "PAID", "CANCELED"], selected: form.object.status), prompt: "Please Select") %>
    <% end %>
  </div>
      <br>

  <div class="field">
    <h5>Order Details</h5>
    <%= form.fields_for :order_details do |f| %>
      
      <%= render 'order_detail_field', f: f %>
    <% end %>
    <%= link_to_add_fields "Add Detail", form, :order_details %>
  </div>

      <br>
      <br>
  
  <%= form.submit %>
  <%= link_to 'Back', order_index_path %>

<script>
  $('form').on('click', '.remove-fields', function(event) {
  console.log('clicked')
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });
  
  $('form').on('click', '.add_fields', function(event) {
    console.log('clicked!')
     var regexp, time;
     time = new Date().getTime();
     regexp = new RegExp($(this).data('id'), 'g');
     $(this).before($(this).data('fields').replace(regexp, time));
     return event.preventDefault();
    });

  
</script>