<h3>Update Orders</h3>
<%= form_with model: @order, url: order_path do |form| %>
    <%= form.text_field :customer_id, placeholder: @order.customer_id, value: @order.customer_id %>
    <%= form.text_field :total, placeholder: @order.total, value: @order.total %>
    <%= form.text_field :order_date, placeholder: @order.order_date, value: @order.order_date %>
    <%= form.text_field :status, placeholder: @order.status, value: @order.status %>
    <%= form.submit %>
<% end %>