<h1> Orders </h1>
<table>
  <thead>
    <tr>
        <td><b>Number</b></td>
        <td><b>Customer</b></td>
        <td><b>Total</b></td>
        <td><b>Order Date</b></td>
        <td><b>Status</b></td>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @orders.each do |order| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= Order.find(order.id).customer.email %></td>
        <td><%= order.total %></td>
        <td><%= order.order_date %></td>
        <td><%= order.status %></td>
        <td><a href="/order/<%= order.id %>">Details</a></td>
        <td><a href="/order/<%= order.id %>/edit">Edits</a></td>
        <td><%= button_to 'Delete', order_path(order), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/order/new">New Order</a>