<h3>Create Order</h3>
<%= form_for @order, url: order_index_path do |form| %>
  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer_id, placeholder: "customer_id" %>
  </div>
  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, placeholder: "Total" %>
  </div>
  <div class="field">
    <%= form.label :order_date %>
    <%= form.text_field :order_date, placeholder: "Order Date" %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, placeholder: "Status" %>
  </div>
      <br>

  <div class="field">
    <h5>Order Details</h5>
    <%= form.fields_for :order_details do |builder| %>
      
      <%= builder.label :menu %>
      <%= builder.text_field :menu_id, placeholder: "Menu" %>
      <br>

      <%= builder.label :quantity %>
      <%= builder.text_field :quantity, placeholder: "Quantity" %>
      <br>

      <%= builder.label :price %>
      <%= builder.text_field :price, placeholder: "Price" %>
      <br>
    <% end %>
  </div>
  
  <%= form.submit %>
<% end %>