<h3>Create Order</h3>
<%= form_with model: @order, url: order_index_path do |form| %>
  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer_id, placeholder: "customer_id" %>
  </div>
  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, placeholder: "Total" %>
  </div>
  <div class="field">
    <%= form.label :order_date %>
    <%= form.text_field :order_date, placeholder: "Order Date" %>
  </div>
  
  <%= form.submit %>
<% end %>