<h1> Customers </h1>
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
        <td><b>Number</b></td>
        <td><b>Name</b></td>
        <td><b>Phone</b></td>
        <td><b>Email</b></td>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><a href="/customer/<%= customer.id %>">Details</a></td>
        <td><a href="/customer/<%= customer.id %>/edit">Edits</a></td>
        <td><%= button_to 'Delete', customer_path(customer), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/customer/new">New Customer</a>